//COLORS
$primary: #326eee;
$secondry: "pink";

//SIZE
$xs: 10px;
$small: 25px;
$medium: 50px;
$large: 75px;
$xlarge: 100px;
$xxlarge: 150px;


$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

